body{
    background-color: #dff1e7;
    margin: 0;
    font-family: "karla", sans-serif;
    justify-content: center;
    display: flex;
    
}


input{
    font-family: "karla", sans-serif;
}

fieldset{
    border: none;
}
legend{
    font-weight: bold;
    font-size: 30px;
    
}

.formulario{
    background-color: #FFF;
    margin: 100px;
    padding: 10px;
    border: 1px solid red;
}

.div__first, .div__last{
    border: 1px solid blueviolet;
    display: flex;
    flex-direction: column;
}



.formulario--names{
    margin-top: 20px;
    border: 1px solid blue;
    display: flex;
    flex: column;
    justify-content: space-between;
    padding: 20px;
}

#first{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    margin: 5px;

}

#last{
    width: 300px;
    border-radius: 5px;
    height: 35px;
    margin: 5px;
}

.formulario--email{
    border: 1px solid red;
    padding: 10px;
    margin: 15px 0px;
}

.formulario__email{
    border: 1px solid green;
    display: flex;
}

.input--email{
    width: 100%;
    height: 35px;
    margin-top: 5px;
    margin-left: 0px;
    border-radius: 5px;
    border: 1px solid #0009;
}

.formulario--query{
    display: flex;
    flex-direction: column;
    margin: 0px 0px;
    border: 1px solid blue;
}


.formulario--options{
    padding: 0px;
    display: flex;
    flex-direction:;
    margin: 0;
    border: 1px solid red;
    justify-content:space-between;
    padding: 20px;
}

.div--option{
    border: 1px solid burlywood;    
    padding: 10px;
    border-radius: 5px;
    display: flex;
    width: 300px; 
    
    
    
}

#support, #general{
        
    display: flex;
    

}
textarea{
    margin-top: 5px;
    min-width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 100px;
    max-width:300px;
    font-family: "karla", sans-serif;
}


.formulario--terms{
    margin-top: 20px;
    border: 1px solid red;


}

button{
    width: 100%;
    margin-top: 50px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #0009;
    background-color: #6f11e7;
    font-family: "karla", sans-serif;
    font-size: 18px;
    color: white;
}